#MainDiv {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    gap: 0px;
    position: relative; 

}


#Tas {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60px;
    width: 60px;
}

#MainDiv > svg {
    
    position: absolute;
     top: 0%; 
    left: 12%; 
    transform: translateX(-50%) skewX(10deg) rotate(50deg);
     width: 82px;
    height: 79px;
    z-index: 10; 
    pointer-events: none;

}
#svg1{
    grid-column: 2 ;
    
    grid-row: 9 / span 1;
}

.cell {
    border: 1px solid #333;
    width: 40px;
    height: 40px;
    position: relative; 
    z-index: 1;
}
.circle {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;

    background-color: black;
    border-radius: 50%;

}
#adad1 {
    width: 60px;
    height: 60px;
    border: #333 solid 1px;
    display: grid;
    grid-template-columns: repeat(8, 7.5px);
    grid-template-rows: repeat(8, 7.5px);

}

.circle {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;

    background-color: black;
    border-radius: 50%;

}

#adad1 .circle {
    grid-column: 4 / span 2;
    grid-row: 4 / span 2;
}

#adad2 {
    width: 60px;
    height: 60px;
    border: #333 solid 1px;
    display: grid;
    grid-template-columns: repeat(8, 7.5px);
    grid-template-rows: repeat(8, 7.5px);

}

#adad2 :nth-child(1) {
    grid-column: 2 / span 2;
    grid-row: 4 / span 2;
}

#adad2 :nth-child(2) {
    grid-column: 6 / span 2;
    grid-row: 4 / span 2;
}

#adad3 {
    width: 60px;
    height: 60px;
    border: #333 solid 1px;
    display: grid;
    grid-template-columns: repeat(8, 7.5px);
    grid-template-rows: repeat(8, 7.5px);

}

#adad3 :nth-child(1) {
    grid-column: 2 / span 2;
    grid-row: 6 / span 2;
}

#adad3 :nth-child(2) {
    grid-column: 4 / span 2;
    grid-row: 4 / span 2;
}

#adad3 :nth-child(3) {
    grid-column: 6 / span 2;
    grid-row: 2 / span 2;
}

#adad4 {
    width: 60px;
    height: 60px;
    border: #333 solid 1px;
    display: grid;
    grid-template-columns: repeat(8, 7.5px);
    grid-template-rows: repeat(8, 7.5px);

}

#adad4 :nth-child(1) {
    grid-column: 2/ span 2;
    grid-row: 2 / span 2;
}

#adad4 :nth-child(2) {
    grid-column: 2 / span 2;
    grid-row: 6 / span 2;
}

#adad4 :nth-child(3) {
    grid-column: 6 / span 2;
    grid-row: 2 / span 2;
}

#adad4 :nth-child(4) {
    grid-column: 6 / span 2;
    grid-row: 6 / span 2;
}

#adad5 {
    width: 60px;
    height: 60px;
    border: #333 solid 1px;
    display: grid;
    grid-template-columns: repeat(8, 7.5px);
    grid-template-rows: repeat(8, 7.5px);

}

#adad5 :nth-child(1) {
    grid-column: 2/ span 2;
    grid-row: 2 / span 2;
}

#adad5 :nth-child(2) {
    grid-column: 2 / span 2;
    grid-row: 6 / span 2;
}

#adad5 :nth-child(3) {
    grid-column: 6 / span 2;
    grid-row: 2 / span 2;
}

#adad5 :nth-child(4) {
    grid-column: 6 / span 2;
    grid-row: 6 / span 2;
}

#adad5 :nth-child(5) {
    grid-column: 4 / span 2;
    grid-row: 4 / span 2;
}

#adad6 {
    width: 60px;
    height: 60px;
    border: #333 solid 1px;
    display: grid;
    grid-template-columns: repeat(8, 7.5px);
    grid-template-rows: repeat(8, 7.5px);

}

#adad6 :nth-child(1) {
    grid-column: 2/ span 2;
    grid-row: 1 / span 2;
}

#adad6 :nth-child(2) {
    grid-column: 2 / span 2;
    grid-row: 7 / span 2;
}

#adad6 :nth-child(3) {
    grid-column: 6 / span 2;
    grid-row: 1 / span 2;
}

#adad6 :nth-child(4) {
    grid-column: 6 / span 2;
    grid-row: 7 / span 2;
}

#adad6 :nth-child(5) {
    grid-column: 2 / span 2;
    grid-row: 4 / span 2;
}

#adad6 :nth-child(6) {
    grid-column: 6 / span 2;
    grid-row: 4 / span 2;
}