
    .fard{
        background-color: rgb(82, 163, 82);
    }

    .zoj{
        background-color: rgb(0, 74, 0);
    }

    #Tas {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

   #MainDiv {
        display: grid;
        grid-template-columns: repeat(10, 40px);
        grid-template-rows: repeat(10, 40px);
        gap: 0px;
    }

    .cell {
        border: 1px solid #333;
        width: 40px;
        height: 40px;
    }