#MainDiv {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    gap: 0px;
    position: relative;

}


#Tas {
    width: 40px;             
    height: 40px;
    border: 1px solid #333;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;               
    box-sizing: border-box;
    align-items: center;
    justify-items: center;
    padding: 2px;
}

.circle {
    width: 9px;             
    height: 9px;
    background-color: black;
    border-radius: 50%;
    display: block;
}

.adad1, .adad2, .adad3, .adad4, .adad5, .adad6 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}


.adad1 .circle {
    grid-column: 2;
    grid-row: 2;
}


.adad2 .circle:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}
.adad2 .circle:nth-child(2) {
    grid-column: 3;
    grid-row: 3;
}


.adad3 .circle:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}
.adad3 .circle:nth-child(2) {
    grid-column: 2;
    grid-row: 2;
}
.adad3 .circle:nth-child(3) {
    grid-column: 3;
    grid-row: 3;
}

.adad4 .circle:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}
.adad4 .circle:nth-child(2) {
    grid-column: 1;
    grid-row: 3;
}
.adad4 .circle:nth-child(3) {
    grid-column: 3;
    grid-row: 1;
}
.adad4 .circle:nth-child(4) {
    grid-column: 3;
    grid-row: 3;
}

.adad5 .circle:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}
.adad5 .circle:nth-child(2) {
    grid-column: 1;
    grid-row: 3;
}
.adad5 .circle:nth-child(3) {
    grid-column: 3;
    grid-row: 1;
}
.adad5 .circle:nth-child(4) {
    grid-column: 3;
    grid-row: 3;
}
.adad5 .circle:nth-child(5) {
    grid-column: 2;
    grid-row: 2;
}

.adad6 .circle:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}
.adad6 .circle:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
}
.adad6 .circle:nth-child(3) {
    grid-column: 1;
    grid-row: 3;
}
.adad6 .circle:nth-child(4) {
    grid-column: 3;
    grid-row: 1;
}
.adad6 .circle:nth-child(5) {
    grid-column: 3;
    grid-row: 2;
}
.adad6 .circle:nth-child(6) {
    grid-column: 3;
    grid-row: 3;
}

#MainDiv>svg {

    position: absolute;
    top: 0%;
    left: 12%;
    transform: translateX(-50%) skewX(10deg) rotate(50deg);
    width: 82px;
    height: 79px;
    z-index: 10;
    pointer-events: none;

}

#Layer1 {
    grid-column: 2;

    grid-row: 9 / span 1;
}

.cell {
    border: 1px solid #333;
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 1;
}