         body {
             height: 100vh;
             margin: 0;
             background: linear-gradient(135deg,
                     rgb(255, 92, 184) 0%,
                     rgb(101, 65, 175) 50%,
                     rgba(0, 0, 0, 1) 100%);
             background-size: cover;
             background-position: center;
         }

         #MainDiv {
             width: 400px;
             height: 400px;
             display: grid;
             grid-template-columns: repeat(10, 40px);
             grid-template-rows: repeat(10, 40px);
             gap: 0px;
             position: relative;
             left: 30%;
             top: 15%;


         }

         .cell {
             border: 1px solid #333;
             width: 40px;
             height: 40px;
             position: relative;
             z-index: 1;
             text-align: center;
         }

         #Tas {
             position: relative;
             width: 40px;
             height: 40px;
             border: 1px solid #333;
             display: grid;
             grid-template-columns: repeat(3, 1fr);
             grid-template-rows: repeat(3, 1fr);
             gap: 2px;
             box-sizing: border-box;
             align-items: center;
             justify-items: center;
             padding: 2px;
             left: 20%;
         }
/* قائدتا باید از  استیکر عکس استفاده میکردم تا زد ایندکس ها بهم نریزه اما برای تست فعلا از همین استفاده کنیم تا برسیم به اونجا
 */
         .player {
             left: 2px;
             top: -15px;
             width: 35px;
             height: 35px;
             position: relative;
             border-radius: 50%;
             z-index: 100;
         }

         #player1 {
             background-color: red;
         }

         .circle {
             width: 9px;
             height: 9px;
             background-color: black;
             border-radius: 50%;
             display: block;
         }

         .adad1,
         .adad2,
         .adad3,
         .adad4,
         .adad5,
         .adad6 {
             width: 100%;
             height: 100%;
             display: grid;
             grid-template-columns: repeat(3, 1fr);
             grid-template-rows: repeat(3, 1fr);
             align-items: center;
             justify-items: center;
         }


         .adad1 .circle {
             grid-column: 2;
             grid-row: 2;
         }


         .adad2 .circle:nth-child(1) {
             grid-column: 1;
             grid-row: 1;
         }

         .adad2 .circle:nth-child(2) {
             grid-column: 3;
             grid-row: 3;
         }


         .adad3 .circle:nth-child(1) {
             grid-column: 1;
             grid-row: 1;
         }

         .adad3 .circle:nth-child(2) {
             grid-column: 2;
             grid-row: 2;
         }

         .adad3 .circle:nth-child(3) {
             grid-column: 3;
             grid-row: 3;
         }

         .adad4 .circle:nth-child(1) {
             grid-column: 1;
             grid-row: 1;
         }

         .adad4 .circle:nth-child(2) {
             grid-column: 1;
             grid-row: 3;
         }

         .adad4 .circle:nth-child(3) {
             grid-column: 3;
             grid-row: 1;
         }

         .adad4 .circle:nth-child(4) {
             grid-column: 3;
             grid-row: 3;
         }

         .adad5 .circle:nth-child(1) {
             grid-column: 1;
             grid-row: 1;
         }

         .adad5 .circle:nth-child(2) {
             grid-column: 1;
             grid-row: 3;
         }

         .adad5 .circle:nth-child(3) {
             grid-column: 3;
             grid-row: 1;
         }

         .adad5 .circle:nth-child(4) {
             grid-column: 3;
             grid-row: 3;
         }

         .adad5 .circle:nth-child(5) {
             grid-column: 2;
             grid-row: 2;
         }

         .adad6 .circle:nth-child(1) {
             grid-column: 1;
             grid-row: 1;
         }

         .adad6 .circle:nth-child(2) {
             grid-column: 1;
             grid-row: 2;
         }

         .adad6 .circle:nth-child(3) {
             grid-column: 1;
             grid-row: 3;
         }

         .adad6 .circle:nth-child(4) {
             grid-column: 3;
             grid-row: 1;
         }

         .adad6 .circle:nth-child(5) {
             grid-column: 3;
             grid-row: 2;
         }

         .adad6 .circle:nth-child(6) {
             grid-column: 3;
             grid-row: 3;
         }

         #Layer1 {

             position: absolute;
             top: -22px;
             left: 160px;
             transform: translateX(-50%) skewX(10deg) rotate(73deg);
             right: 153px;
             z-index: 12;
             pointer-events: none;

         }

         #Layer1 {
             grid-column: 2;

             grid-row: 9 / span 1;
         }

         #Layer2 {
             position: absolute;
             top: -51px;
             left: 42px;
             transform: translateX(-50%) skewX(10deg) rotate(27deg) scaleY(1.3);
             height: 106px;
             z-index: 12;
             pointer-events: none;
             grid-column: 9;
             grid-row: 9;
         }

         #Layer3 {
             position: absolute;
             top: -123px;
             left: -58px;
             transform: translateX(-50%) skewX(10deg) rotate(-27deg) scaleY(2.1);
             z-index: 12;
             pointer-events: none;
             grid-column: 8;
             grid-row: 7;

         }

         #x1 {

             top: -16px;
             position: absolute;
             transform: translateX(-50%) skewX(10deg) rotate(12deg) scaleX(-1);
             height: 118px;
             z-index: 11;
             pointer-events: none;
             left: -3px;
             grid-column: 7;
             grid-row: 9;
         }

         #x2 {

             top: 12px;
             position: absolute;
             transform: translateX(-50%) skewX(10deg) rotate(81deg) scaleX(-1);
             height: 100px;
             z-index: 11;
             pointer-events: none;
             left: 23px;
             grid-column: 8;
             grid-row: 4;
         }

         #x3 {

    top: 45px;
    position: absolute;
    transform: translateX(-50%) skewX(10deg) rotate(86deg) scaleX(-1.6);
    height: 140px;
    z-index: 11;
    pointer-events: none;
    left: 23px;
    grid-column: 3;
    grid-row: 4;
    grid-column: 2;
         }